1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S={1, 3, 4, 8, 13, 17, 20} 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

In [2]:
data=input('1차원 점들을 입력하세요, 띄어쓰기 구분 : ').split()

1차원 점들을 입력하세요, 띄어쓰기 구분 : 1 3 4 8 13 17 20

In [3]:
len_data=len(data)

In [4]:
len_data

7

In [5]:
#입력받은 문자열 데이터를정수형으로 변환 
def str_tran_int(a):
    data2=[]
    for i in range(len_data):
        data2.append(int(data[i]))
    return data2

In [6]:
data2=str_tran_int(data)

In [7]:
data2

[1, 3, 4, 8, 13, 17, 20]

In [8]:
from math import sqrt

def distance(store1, store2):
    return sqrt((store1 - store2) ** 2 + (store1 - store2) ** 2)

In [9]:
import pandas as pd

distance_data=[]
order_i=[]
order_j=[]

for i in range(len_data):
    for j in range(i+1,len_data):
        distance_data.append(distance(data2[i], data2[j]))
        order_i.append(i)
        order_j.append(j)

In [10]:
result=pd.DataFrame({'order_i':order_i, 'order_j':order_j, 'distance':distance_data})

In [11]:
result

    order_i  order_j   distance
0         0        1   2.828427
1         0        2   4.242641
2         0        3   9.899495
3         0        4  16.970563
4         0        5  22.627417
5         0        6  26.870058
6         1        2   1.414214
7         1        3   7.071068
8         1        4  14.142136
9         1        5  19.798990
10        1        6  24.041631
11        2        3   5.656854
12        2        4  12.727922
13        2        5  18.384776
14        2        6  22.627417
15        3        4   7.071068
16        3        5  12.727922
17        3        6  16.970563
18        4        5   5.656854
19        4        6   9.899495
20        5        6   4.242641

In [12]:
result.describe()

         order_i    order_j   distance
count  21.000000  21.000000  21.000000
mean    1.666667   4.333333  12.660579
std     1.527525   1.527525   7.726269
min     0.000000   1.000000   1.414214
25%     0.000000   3.000000   5.656854
50%     1.000000   5.000000  12.727922
75%     3.000000   6.000000  18.384776
max     5.000000   6.000000  26.870058

In [13]:
result2=result[result.distance==result.distance.min()]

In [14]:
result2

   order_i  order_j  distance
6        1        2  1.414214

In [15]:
result2.values[0][0]

1.0

In [16]:
result2.values[0][1]

2.0

In [17]:
data2[int(result2.values[0][0])] , data2[int(result2.values[0][1])]

(3, 4)